<div class="col-md-8 col-md-offset-2">

<h2>Sign In</h2>
<%= form_tag "/sessions" do %>
  <p><label>Email:</label> <input name="email" size="30"></p>
  <p><label>Password:</label></p><input name="password" size="30"></textarea>
  <p><button>Submit</button></p>
<% end %>
</div>