<h2>Edit a Beer</h2>
<%= form_tag "/beers/#{@beer.id}", :method => "patch", :class => "form-horizontal"%>
  <p><label>Name:</label> <input value="<%= @beer.name %>" name="name" size="30"></p>
  <p><label>Photo URL:</label> <input value="<%= @beer.image_url %>" name="image_url" size="80"></p>
  <p><label>Description:</label></p>
  <textarea name="description" cols="80" rows="3"><%= @beer.description %></textarea>
  <p><button>Submit</button></p>
