<div class="col-md-8 col-md-offset-2">
<p><%= link_to "Add a New Beer", new_beer_path %></p>


<table class="table table-striped table-bordered">
  <% @beers.each do |beer| %>
    <tr>
    	<td>
    	<%= image_tag(beer.image_url) %>
    	</td>
    	<td>
      <%= link_to beer.name, "/beers/#{beer.id}" %>
      </td>
      <td>
      <%= link_to "Delete", "/beers/#{beer.id}", :method => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>
</div>
