<h2>Add a New Beer</h2>
<%= form_tag "/beers" do %>
  <p><label>Name:</label> <input name="name" size="30"></p>
  <p><label>Photo URL:</label> <input name="image_url" size="80"></p>
  <p><label>Brewery:</label> <input name="brewery"></p>
  <p><label>Description:</label></p>
  <textarea name="desc" cols="80" rows="3"></textarea>
  <p><button>Submit</button></p>
<% end %>
