<div class="col-md-8 col-md-offset-2">


<table class="table table-striped table-bordered">
  <% @breweries.each do |brewery| %>
    <tr>

    	<td>
      <%= link_to brewery.name, "/breweries/#{brewery.id}" %>
      </td>
      
    	<td>
      <%= link_to "Delete", "/breweries/#{brewery.id}", :method => 'delete' %>
      </td>
    </tr>
  <% end %>
</table>
</div>
