<div class="col-md-8 col-md-offset-2">

<h2>Add a New Brewery</h2>
<%= form_tag "/breweries" do %>
  <p><label>Name:</label> <input name="name" size="30"></p>
  <p><label>Description:</label></p>
  <textarea name="desc" cols="80" rows="3"></textarea>
  <p><button>Submit</button></p>
<% end %>
</div>