<div class="col-md-8 col-md-offset-2">
<h2><%= @brewery.name %></h2>

<p>
  <%= link_to "Edit", edit_brewery_path %>
</p>

<div>
<div class="col-md-4">

<p><%= @brewery.description %></p>
</div>

</div>