body {
    background-image: url("http://www.cody-braun/com/bp_images/beer.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #FFFF99;
 }
